.video-player-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 100%; /* Ensures the screen takes the full height of its container */
  }
  
  .video-player-screen video {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    object-fit: contain; /* Ensures the video is fully visible within its container */
  }
  
  .video-player-screen p {
    color: #fff;
    font-size: 1.2em;
  }
  